/* imports */
@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700");

/* root variables */
:root {
  --font-family-header: "Lato", sans-serif;
  --font-family-body: "Lato", sans-serif;
  --font-size: 1em;
  --font-size-small: 1.1em;
  --font-size-medium: 1.35em;
  --font-size-large: 1.5em;
  --font-size-xlarge: 2.75em;
  --font-weight: 400;
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-thin: 100;
  --line-height: 1.3;
  --color-primary: #333;
  --color-secondary: #fefefe;
  --blue-primary: #3c99dc;
  --blue-secondary: #39507d;
  --blue-tertiary: #66d3fa;
  --dark-cyan: #068787;
  --vivid-tangerine: #f79486;
  --peach-orange: #f7ca97;
}

/* general styling */

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color-primary);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
}

h1 {
  font-size: var(--font-size-large);
}

h2 {
  font-size: var(--font-size-medium);
}

h3 {
  font-size: var(--font-size-small);
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

/* header styling */

header {
  min-height: 100px;
  background-color: var(--blue-secondary);
  background-image: url("../images/header.svg");
  /* background-size: cover; */
  padding: 1em;
}

header h1 {
  color: var(--color-secondary);
  text-shadow: 2px 1px 1px var(--color-primary);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-light);
  text-align: center;
  margin: 0.3em;
}

/* main styling */

main {
  background-color: var(--blue-secondary);
  position: relative;
  padding: 1em;
}

main h2 {
  color: var(--blue-secondary);
  margin-bottom: 0.5em;
}

main h3 {
  color: var(--blue-secondary);
  margin-bottom: 0.5em;
}

main p {
  margin-bottom: 1em;
}

/* footer styling */

footer {
  max-height: 100px;
  background-color: var(--blue-secondary);
  background-image: url("../images/footer.svg");
  padding: 1em;
}

footer p {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-thin);
  text-align: center;
  padding-top: 2em;
}

/* grid styling */

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

.grid-item {
  background-color: var(--peach-orange);
  border: 1px solid var(--vivid-tangerine);
  border-radius: 25px;
  box-shadow: 0 0 5px var(--vivid-tangerine);
  padding: 1em;
  text-align: center;
}

.grid-item:hover {
  border: 1px solid var(--blue-tertiary);
  box-shadow: 0 0 10px var(--blue-tertiary);
}

.grid-item p {
  margin-bottom: 0.5em;
  font-size: var(--font-size);
}

.grid-item img {
  width: auto;
  height: 10em;
  object-fit: cover;
}

/* grid media queries */

@media screen and (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* modal styling */

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#modal-container.open {
  transform: scaleY(0.01) scaleX(0);
  animation-name: unfoldIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

#modal-container.open .modal-background .modal-content {
  transform: scale(0);
  animation-name: zoomIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

#modal-container.close {
  transform: scale(1);
  animation-name: unfoldOut;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

#modal-container.close .modal-background .modal-content {
  animation-name: zoomOut;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

.modal-background {
  background-color: var(--blue-secondary);
  background-image: url("../images/modal-bg-waves.svg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  overflow: auto;
  background-color: #dedede8c;
  border: #39507d 1px solid;
  border-radius: 15px;
  position: absolute;
  top: 10%;
  left: 20%;
  height: 80%;
  width: 60%;
  padding: 20px;
}

.modal-content:nth-child(4) {
  width: 30%;
}

.modal-content h3 {
  color: var(--blue-secondary);
  margin: 0.25em 0;
}

.modal-content p {
  margin: 0.25em 0;
  font-size: 0.8em;
}

.modal-content ul {
  margin: 0.5em 0;
  padding-left: 1em;
}

.modal-content li {
  margin: 0.25em 0;
  font-size: 0.8em;
  list-style-type: circle;
  max-width: 65%;
}

.modal-content table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.modal-content table th {
  color: var(--blue-secondary);
  font-size: 1em;
  text-align: left;
  padding: 0.2em;
  border-bottom: 1px solid var(--blue-secondary);
}

.modal-content table td {
  font-size: 0.8em;
  border-bottom: 1px solid var(--blue-secondary);
  padding: 0.2em;
}

.modal-content thead th:nth-child(1) {
  width: 30%;
}

.modal-content thead th:nth-child(2) {
  width: 70%;
}

.modal-content .modal-header h1 {
  text-align: center;
  color: var(--blue-secondary);
  text-transform: uppercase;
}

.modal-content .modal-header h2 {
  text-align: center;
  color: var(--blue-secondary);
}

.modal-content .modal-header button {
  position: absolute;
  top: 0.25em;
  right: 0.5em;
  /* remove default button styling */
  background: none;
  border: none;
  padding: 0;
  /* custom styles */
  font-size: 2em;
  color: var(--blue-secondary);
  cursor: pointer;
}

.modal-content .modal-header button:hover {
  color: var(--blue-primary);
}

.modal-content .modal-header button:focus {
  outline: none;
}

.modal-content .modal-image img {
  position: absolute;
  top: 15%;
  right: 5%;
  height: 13em;
  width: 13em;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid var(--blue-primary);
  background-color: var(--color-secondary);
}

/* keyframes */

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
