/* imports */
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

/* root variables */
:root {
    --font-family-header: 'Lato', sans-serif;
    --font-family-body: 'Lato', sans-serif;
    --font-family-code: 'Roboto Mono', monospace;
    --font-size: 1em;
    --font-size-small: 1.2em;
    --font-size-medium: 1.35em;
    --font-size-large: 1.5em;
    --font-size-xlarge: 2.75em;
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-weight-light: 300;
    --font-weight-thin: 100;
    --line-height: 1.3;
    --color-primary: #333;
    --color-secondary: #fefefe;
    --color-tertiary: #949494;
    --blue-primary: #3C99DC;
    --blue-secondary: #39507D;
    --blue-tertiary: #66D3FA;
    --blue-quaternary: #f7fdff;
    --dark-cyan: #068787;
    --vivid-tangerine: #F79486;
    --peach-orange: #F7CA97;    
}

/* general styling */

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-body);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height);
}

h1 {
    font-size: var(--font-size-large);
}

h2 {
    font-size: var(--font-size-medium);
}

h3 {
    font-size: var(--font-size-small);
}

img {
    max-width: 100%;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}

a:hover {
    color: var(--color-tertiary);
}

/* header styling */

header {
    background-color: var(--blue-secondary);
    padding: 1em;
}

header h1 {
    color: var(--color-secondary);
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-thin);
    text-align: center;
    margin: 0.3em;
}

/* main styling */

main {
    position: relative;
    padding: 1em;
}

main h2 {
    color: var(--blue-primary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.5em;
}

main h3 {
    color: var(--blue-primary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.5em;
}

main p {
    margin-bottom: 1em;
}

main ul {
    margin-bottom: 1em;
}

main li {
    margin-bottom: 0.5em;
}

main a {
    color: var(--blue-primary);
    text-decoration: none;
}

main a:hover {
    color: var(--blue-secondary);
}

/* footer styling */

footer {
    background-color: var(--blue-secondary);
    padding: 1em;
}

footer p {
    color: var(--color-secondary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-thin);
    text-align: center;
}

/* grid styling */

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
}

.grid-item {
    background-color: var(--blue-quaternary);
    border: 1px solid var(--blue-secondary);
    box-shadow: 0 0 10px var(--blue-secondary);
    padding: 1em;
    text-align: center;
}

.grid-item:hover {
    box-shadow: 0 0 10px var(--dark-cyan);
}

.grid-item h2 {
    color: var(--blue-primary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.5em;
}

.grid-item p {
    margin-bottom: 1em;
}

.grid-item a {
    color: var(--blue-primary);
    text-decoration: none;
}

.grid-item a:hover {
    color: var(--blue-secondary);
}

.grid-item img {
    width: auto;
    height: 12em;
    object-fit: cover;

}

/* grid media queries */

@media screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1600px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* modal styling */

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#modal-container.open {
  transform: scaleY(0.01) scaleX(0);
  animation-name: unfoldIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

#modal-container.open .modal-background .modal-content {
  transform: scale(0);
  animation-name: zoomIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

#modal-container.close {
  transform: scale(1);
  animation-name: unfoldOut;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

#modal-container.close .modal-background .modal-content {
  animation-name: zoomOut;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
}

.modal-background {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: absolute;
  overflow: auto;
  background-color: #fff;
  top: 10%;
    left: 20%;
    right: 20%;
    bottom: 10%;
  padding: 20px;
  border-radius: 5px;
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "modal-header modal-header"
      "modal-about modal-image"
      "modal-other-info modal-image"
      "modal-appearances modal-image";
  grid-gap: 20px;
}

.modal-content h2 {
  color: var(--blue-primary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5em;
}

.modal-content p {
  margin-bottom: 1em;
}

.modal-content .modal-header {
    grid-area: modal-header;
}

.modal-content .modal-header h2 {
    text-align: center;
    color: var(--blue-secondary);
    text-transform: uppercase;
}

.modal-content .modal-header button {
    position: absolute;
    top: 0.25em;
    right: 0.5em;
    /* remove default button styling */
    background: none;
    border: none;
    padding: 0;
    /* custom styles */
    font-size: 2em;
    color: var(--blue-primary);
    cursor: pointer;
}

.modal-content .modal-about {
    grid-area: modal-about;
}

.modal-content .modal-other-info {
    grid-area: modal-other-info;
}

.modal-content .modal-appearances {
    grid-area: modal-appearances;
}

.modal-content .modal-image {
    grid-area: modal-image;
}

.modal-content .modal-image img{
    height: 75%;
    object-fit: cover;
}


/* keyframes */

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
